.footer {
  padding: rem(40) rem(0) rem(20);
  color: $white;
  background-color: $gray-900;

  &__row{
    margin-bottom: rem(48);
  }
  &__col{
    &--left{
      @include media-breakpoint-up(xxl){
        width: 40.4%!important
      }
    }
    &--middle{
      @include media-breakpoint-up(xxl){
        width: 27%!important;
      }
    }
    &--right{}
  }
  &__logo{
    display: block;
    width: rem(185);
    margin-bottom: rem(21);

    img{
      max-width: 100%;
    }
  }
  &__txt{
    font-size: rem(14);
    color: rgba(255, 255, 255, 0.8);

    @include media-breakpoint-up(md){
      max-width: rem(376);
    }
  }
  &__title{
    font-weight: 700;
    font-size: rem(14);
    line-height: 1.5;
    text-transform: uppercase;
    color: $white;

    margin-bottom: rem(11);
  }
  &__menu{
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li{
      margin-bottom: rem(9);
      &:last-child{
        margin-bottom: 0;
      }
    }
    a{
      display: inline-block;
      font-size: rem(14);
      color: $white;
    }
  }
  &__lower{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: rem(20);
    font-size: rem(14);

    text-transform: uppercase;
    color: rgba($white, .6);
  }
  &__{}
}
