mixin modal()
	//  start modals
	//a(href="modal-thanks").link-modal-js modal-thanks
	//a(href="modal-price").link-modal-js modal-price
	div(id="modal-thanks"  style="display: none")
		+b.modal-win
			.row.gx-0.gy-0
				+e.col--img.col-md-auto
					+pic('modal-img.jpg')
				+e.col--content.col-md-auto.text-center.text-md-start
					+e.title Дякуємо за ваш запит!
					+e.txt
						p Наші менеджери надішлють вам відповідь найшвидшим часом.
	div(id="modal-price"  style="display: none")
		+b.modal-win--long
			.row.gx-0.gy-0
				+e.col--img.col-md-auto
					+pic('modal-img2.jpg')
				+e.col--content.col-md-auto.text-center.text-md-start
					+e.title Дізнатися вартість
					+e.txt
						p Оберіть, будь ласка, меседжер, який вам більше до вподоби - Telegram або Viber.
						p Натисніть на одну з кнопок нижче, і наші менеджери надішлють вам відповідь найшвидшим часом.
					+e.btn-row.row
						.col-6
							+e.btn--tg(href="tg://resolve?domain=tkinox4")
								+e.btn-img
									img(src='img/svg/telegram.svg' alt="")
								span Telegram
						.col-6
							+e.btn--vb(href="viber://chat?number=%2B380634103686")
								+e.btn-img
									img(src='img/svg/viber.svg' alt="")
								span Viber
	// #modal-call
	
	// end modals