mixin sOther(data)
	// start sOther
	+b.SECTION.sOther.section#sOther&attributes(attributes)
		.container
			+b.section-title
				h2 Інші Товари
			+e.slider-wrap
				.swiper.sOther-slider-js
					.swiper-wrapper
						block
	// end sOther
