mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		+e.bg
		+e.container.container
			+e.circle.d-none.d-lg-block
			+e.row.row
				+e.col--small.col-lg-auto
					+e.left-txt ТК ІНОКС
				+e.col--big.col-lg-auto
					+b.section-title
						h2
							span Про
							|
							| компанію
				+e.col--big.col-lg-auto.d-none.d-lg-block
				//-
				+e.col--small.col-lg-auto.d-none.d-lg-block
				+e.col--big.col-lg-auto
					+e.txt-box
						p Ласкаво просимо на сторінку компанії ТОВ "ТК ІНОКС" - виробника та постачальника якісної вантажопідйомної продукції. Наша компанія була заснована в 2021 році і з тих пір успішно займається виробництвом та продажем канатних строп, ланцюгових строп, текстильних строп, кранових та ліфтових канатів, стяжних ременів, буксирувальних ременів та інших видів вантажопідйомного обладнання.
						p Ми пишаємося якістю нашої продукції та гарантуємо її надійність та довговічність. Наші вантажопідйомні ремені та стропи виготовляються з високоякісних матеріалів. Забезпечуючи максимальну безпеку під час підйому вантажів.
				+e.col--big.col-lg-auto
					+e.txt-box
						p ТК ІНОКС має досвід роботи у сфері виробництва та постачання вантажопідйомного обладнання, і ми прагнемо до постійного вдосконалення нашої продукції та послуг. Ми готові запропонувати нашим клієнтам вигідні умови співробітництва та гарантувати швидку та надійну доставку нашої продукції.
						p Якщо у вас є питання щодо нашої продукції або послуг, наші фахівці готові відповісти на них і допомогти вам вибрати зручний варіант вантажопідйомного обладнання для вашого бізнесу. Зв'яжіться з нами будь-яким зручним способом – за телефоном, електронною поштою або через форму зворотного зв'язку на нашому сайті. Ми будемо раді допомогти вам!
				//-
				+e.col--small.col-lg-auto.d-none.d-lg-block
				+e.col--long.col-lg
					+e.logo-row.row.align-items-center.gy-3
						.col-md-auto
							+e.logo
								img(loading="lazy" src="img/@2x/logo2.png" alt="")
						.col-md
							+e.sub-title ТОВ “ТК ІНОКС” є офіційним представником заводу-виробника ПрАТ “СТАЛЬКАНАТ”

	// end sAbout