extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sDelivery/_sDelivery.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sGoods/_sGoods.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sOffer/_sOffer.pug
include ../blocks/footer/_footer.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sOther/_sOther.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '04.png'

block title
	- let  title= 'catalog'
	title= title
block pagecontent
	+header()
		+top-nav()
	main
		+sProdCard({
			breadcrumbs: [
				{href: './', txt: 'Головна',},
				{href: './catalog.html', txt: 'Каталог',},
				{
					href: './catalog.html?category=buksyruvalni-remeni',
					txt: 'Буксирувальні ремені',
				},
				{
					href: '',
					txt: 'Ремінь буксирувальний (петля - петля)',
				},
			],
			title: 'Ремінь буксирувальний (петля - петля)',
			imgs: [
				'buksyruvalni-remeni-1.jpg'
			],
			chars: [
				{
					key: 'Буксирувальний ремінь',
					val: '',
				},
				{
					key: 'Коефіцієнт запасу міцності',
					val: '1,5:1;',
				},
				{
					key: 'Матеріал',
					val: 'вантажопідйомні стрічка, фітинги;',
				},
				{
					key: 'Коефіцієнт подовження',
					val: 'до 10 % включно (за умов максимально допустимого навантаження);',
				},
				{
					key: 'Стандарт',
					val: 'ДСТУ 1895-92;',
				},
				{
					key: 'Гарантія',
					val: '3 місяці.',
				},
			],
			pills: ['2,5', '5', '8', '14', '18', '25', '35'],
			tableTxt: 'Перелік робочого та розривного навантаження для буксирувального ременя',
			tableImg: 'buksyruvalni-remeni-1-table.png',
		})
			//- content here
			p Кожен водій повинен бути готовий до можливих випадків на дорозі, таких як вилети з узбіччя або поломка авто, і мати в своєму автомобілі буксирувальний ремінь. Ремені для буксирування з текстильної вантажопідйомної стрічки є відмінним рішенням для легкових, вантажних, позашляхових авто, автобусів та іншої техніки, оскільки вони легкі та компактні, що робить їх більш зручними в користуванні, на відміну від сталевих тросів. Буксирувальні ремені виготовляються за стандартом з вантажопідйомної стрічки та такелажних комплектуючих 8 класу міцності, таких як гаки або скоби, які застосовуються для пошиття стрічкових строп.
			p Залежно від вантажопідйомності, кольорова гамма буксирувального ременя може бути різною.
		+sOther()
			//-other here
			+sOtherItem({
				picName: 'buksyruvalni-remeni-2',
				title: 'Буксирувальний ремінь Петля - ГАК',
				pills: ['2,5 т', '5 т', '8 т', '14 т', '18 т', '25 т', '35 т'],
				link: 'buksyruvalni-remeni-petla-gak.html',
			})
			+sOtherItem({
				picName: 'buksyruvalni-remeni-3',
				title: 'Буксирувальний ремінь ГАК - ГАК',
				pills: ['2,5 т', '5 т', '8 т', '14 т', '18 т', '25 т', '35 т'],
				link: 'buksyruvalni-remeni-gak-gak.html',
			})
			+sOtherItem({
				picName: 'buksyruvalni-remeni-4',
				title: 'Буксирувальний ремінь петля-скоба',
				pills: ['2,5 т', '5 т', '8 т', '14 т', '18 т', '25 т', '35 т'],
				link: 'buksyruvalni-remeni-petla-skoba.html',
			})
			+sOtherItem({
				picName: 'buksyruvalni-remeni-5',
				title: 'Буксирувальний ремінь скоба-скоба',
				pills: ['2,5 т', '5 т', '8 т', '14 т', '18 т', '25 т', '35 т'],
				link: 'buksyruvalni-remeni-skoba-skoba.html',
			})
	+footer()