extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sDelivery/_sDelivery.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sGoods/_sGoods.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sOffer/_sOffer.pug
include ../blocks/footer/_footer.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sOther/_sOther.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '04.png'

block title
	- let  title= 'catalog'
	title= title
block pagecontent
	+header()
		+top-nav()
	main
		+sProdCard({
			breadcrumbs: [
				{href: '/', txt: 'Головна',},
				{href: './catalog.html', txt: 'Каталог',},
				{
					href: './catalog.html?category=stalevi-kanaty',
					txt: 'Сталеві канати',
				},
				{
					href: '',
					txt: 'Канат сталевий ДСТУ 2688-80',
				},
			],
			title: 'Канат сталевий ДСТУ 2688-80',
			imgs: [
				'stalevi-kanaty-12.jpg'
			],
			chars: [
				{
					key: 'Покриття',
					val: 'без покриття, світлий;',
				},
				{
					key: 'Сердечник',
					val: "органічний;",
				},
				{
					key: 'Конструкція',
					val: '6х19 (1+6+6/6)+1о.с.;',
				},
				{
					key: 'Призначення',
					val: 'канати для підйомно-транспортних машин;',
				},
				{
					key: 'Стандарт',
					val: 'ДСТУ 2688-80 (аналог DIN 3059).',
				},
			],
			pills: [],
			tableTxt: 'Технічні ХАРАКТЕРИСТИКИ сталевих КАНАТІВ ДСТУ 2688-80:',
			tableImg: 'stalevi-kanaty-12-table.png',
		})
			//- content here
			p Сталевий вантажопідйомний канат за ДСТУ 2688-80 є одним з найпоширеніших серед сталевих канатів, виготовлених відповідно до стандартів ДСТУ. Конструкція каната за ДСТУ 2688 має подвійне звивання типу ЛК-Р та складається з 6х19 (1 + 6 + 6/6) + 1о.с.
			p Канат складається з шести ідентичних пасом, які мають лінійне торкання дротів. В серцевині каната може бути органічний (пенька, сизаль) або синтетичний (поліпропілен), просочений спеціальним канатним мастилом для більш тривалої експлуатації.
			h6 Сфери застосування:
			ul 
				li кранове обладнання, таке як мостові та стрілові крани, автокрани;
				li підйомно-транспортне обладнання, автокранів та баштових кранів, тельфери, кран-балки, ручні талі, лебідки;
				li екскаватори та землерийні машини;
				li підвісні дороги;
				li обладнання для шахт;
				li обладнання для виготовлення канатних стропів та іншого.
		+sOther()
			//-other here
			+sOtherItem({
				picName: 'stalevi-kanaty-9',
				title: 'Канат сталевий оцинкований ДСТУ 3063-80',
				pills: [],
				link: 'stalevi-kanaty-3063-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-10',
				title: 'Канат сталевий оцинкований ДСТУ 7669-80',
				pills: [],
				link: 'stalevi-kanaty-7669-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-11',
				title: 'Канат сталевий EN 12385-4',
				pills: [],
				link: 'stalevi-kanaty-12385-4.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-13',
				title: 'Канат сталевий ДСТУ 7668-80',
				pills: [],
				link: 'stalevi-kanaty-7668-80.html',
			})
	+footer()