extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sDelivery/_sDelivery.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sGoods/_sGoods.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sOffer/_sOffer.pug
include ../blocks/footer/_footer.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sOther/_sOther.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '04.png'

block title
	- let  title= 'catalog'
	title= title
block pagecontent
	+header()
		+top-nav()
	main
		+sProdCard({
			breadcrumbs: [
				{href: './', txt: 'Головна',},
				{href: './catalog.html', txt: 'Каталог',},
				{
					href: './catalog.html?category=stalevi-kanaty',
					txt: 'Сталеві канати',
				},
				{
					href: '',
					txt: 'Канат сталевий оцинкований ДСТУ 3063-80',
				},
			],
			title: 'Канат сталевий оцинкований ДСТУ 3063-80',
			imgs: [
				'stalevi-kanaty-9.jpg'
			],
			chars: [
				{
					key: 'Покриття',
					val: 'оцинкований (С);',
				},
				{
					key: 'Сердечник',
					val: "металевий;",
				},
				{
					key: 'Конструкція',
					val: '1Х19 (1+6+12);',
				},
				{
					key: 'Призначення',
					val: 'для розтяжок, вантів, підвісних доріг, канати для кранів, автомобілебудування, грозозахисту;',
				},
				{
					key: 'Стандарт',
					val: 'ДСТУ 3063-80, (аналог DIN 3053, EN 12385-4).',
				},
			],
			pills: [],
			tableTxt: 'Технічні ХАРАКТЕРИСТИКИ сталевих КАНАТІВ ДСТУ 3063-80:',
			tableImg: 'stalevi-kanaty-9-table.png',
		})
			//- content here
			p Канат ДСТУ 3063-80 сталевий оцинкований - це одинарної завивки спіральний сталевий канат з крапковим торканням дротів в канаті, який має конструкцію 1х19 (1 + 6 + 12) та додатковий захист оцинкованим покриттям. Хоча ці канати часто використовуються для розтяжок щогл, вишок, та підвісних доріг, їх основне призначення - захист повітряних ліній передач, і відповідно, їх також називають грозозахисними. Оскільки канати за ДСТУ 3063-80 мають достатню жорсткість, не рекомендується їх використовувати в місцях з динамічними, пульсуючими навантаженнями. Важливо також відзначити, що ці канати не дуже підходять для транспортних вантажопідйомних машин та механізмів.
			h6 Сфери застосування:
			ul 
				li захист повітряних ліній передач від грози;
				li підвіска кабелів та проводів на відкритому повітрі;
				li використання в розтяжках кріплень різних конструкцій;
				li застосування у морській промисловості (суднобудування).
		+sOther()
			//-other here
			+sOtherItem({
				picName: 'stalevi-kanaty-7',
				title: 'Канат сталевий оцинкований ДСТУ 3062-80',
				pills: [],
				link: 'stalevi-kanaty-3062-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-8',
				title: 'Канат сталевий ДСТУ 7667-80',
				pills: [],
				link: 'stalevi-kanaty-7667-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-10',
				title: 'Канат сталевий оцинкований ДСТУ 7669-80',
				pills: [],
				link: 'stalevi-kanaty-7669-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-11',
				title: 'Канат сталевий EN 12385-4',
				pills: [],
				link: 'stalevi-kanaty-12385-4.html',
			})
	+footer()