extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sDelivery/_sDelivery.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sGoods/_sGoods.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sOffer/_sOffer.pug
include ../blocks/footer/_footer.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sOther/_sOther.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '04.png'

block title
	- let  title= 'catalog'
	title= title
block pagecontent
	+header()
		+top-nav()
	main
		+sProdCard({
			breadcrumbs: [
				{href: './', txt: 'Головна',},
				{href: './catalog.html', txt: 'Каталог',},
				{
					href: './catalog.html?category=stalevi-kanaty',
					txt: 'Сталеві канати',
				},
				{
					href: '',
					txt: 'Канат сталевий DIN 3069 SE',
				},
			],
			title: 'Канат сталевий DIN 3069 SE',
			imgs: [
				'stalevi-kanaty-3.jpg'
			],
			chars: [
				{
					key: 'Покриття',
					val: 'світлий, без покриття "СВ";',
				},
				{
					key: 'Сердечник',
					val: 'металевий;',
				},
				{
					key: 'Конструкція',
					val: '18x7 IWRC;',
				},
				{
					key: 'Призначення',
					val: 'вантажопідйомні універсальні; на баштовий кран; на мобільний кран;',
				},
				{
					key: 'Стандарт',
					val: 'EN 12385-4 (DIN 3069 SE), 18x7-IWRC.',
				},
			],
			pills: [],
			tableTxt: 'Технічні ХАРАКТЕРИСТИКИ ОЦИНКОВАНИХ КАНАТІВ DIN 3069:',
			tableImg: 'stalevi-kanaty-3-table.png',
		})
			//- content here
			p Канат DIN 3069 є багатосталковим канатом з низьким рівнем скручування і призначений для вантажопідйомних баштових кранів, які працюють на висоті. Одною з ключових особливостей сталевого канату за стандартом DIN 3069 є багатошарова конструкція, що зменшує його скручування при роботі на великій висоті. Канат складається з 37 ідентичних пасів, що забезпечує високу зносостійкість при тривалому безперервному використанні. У канаті застосовується металевий сердечник, що забезпечує додаткову міцність порівняно з канатами з органічною серцевиною.
			h6 Сфери застосування:
			p Канати можна використовувати для таких застосувань, як автомобільні, баштові, корабельні та кранові операції. Вони також підходять для використання на підйомних та тягових механізмах, тельферах з імпортного виробництва, а також в шахтних підйомних установках та канатних дорогах.
		+sOther()
			//-other here
			+sOtherItem({
				picName: 'stalevi-kanaty-1',
				title: 'Канат сталевий оцинкований ДСТУ 3066-80',
				pills: [],
				link: 'stalevi-kanaty-3066-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-2',
				title: 'Канат сталевий оцинкований ДСТУ 3069-80',
				pills: [],
				link: 'stalevi-kanaty-3069-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-4',
				title: 'Канат сталевий ДСТУ 3077-80',
				pills: [],
				link: 'stalevi-kanaty-3077-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-5',
				title: 'Канат сталевий ДСТУ 7665-80',
				pills: [],
				link: 'stalevi-kanaty-7665-80.html',
			})
	+footer()