extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sDelivery/_sDelivery.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sGoods/_sGoods.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sOffer/_sOffer.pug
include ../blocks/footer/_footer.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sOther/_sOther.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '04.png'

block title
	- let  title= 'catalog'
	title= title
block pagecontent
	+header()
		+top-nav()
	main
		+sProdCard({
			breadcrumbs: [
				{href: './', txt: 'Головна',},
				{href: './catalog.html', txt: 'Каталог',},
				{
					href: './catalog.html?category=stalevi-kanaty',
					txt: 'Сталеві канати',
				},
				{
					href: '',
					txt: 'Канат сталевий ДСТУ 3077-80',
				},
			],
			title: 'Канат сталевий ДСТУ 3077-80',
			imgs: [
				'stalevi-kanaty-4.jpg'
			],
			chars: [
				{
					key: 'Покриття',
					val: 'без покриття, світлий;',
				},
				{
					key: 'Сердечник',
					val: "органічний;",
				},
				{
					key: 'Конструкція',
					val: '6х19 (1 + 9 + 9) +1 о.с.;',
				},
				{
					key: 'Призначення',
					val: 'вантажолюдський;',
				},
				{
					key: 'Стандарт',
					val: 'ДСТУ 3077-80.',
				},
			],
			pills: [],
			tableTxt: 'Технічні ХАРАКТЕРИСТИКИ ОЦИНКОВАНИХ КАНАТІВ ДСТУ 3077-80:',
			tableImg: 'stalevi-kanaty-4-table.png',
		})
			//- content here
			p Канат ДСТУ 3077-80 представляє собою один з типів металевих тросів, який має конструкцію 6х19(1+9+9)+1 о.с. типу ЛК-О з лінійним торканням дроту в пасмах, де всі дроти мають однаковий діаметр. Діаметр каната може бути від 4,6 мм до 46 мм.
			p Цей трос є гнучким та міцним завдяки своїй конструкції, що складається з органічного або синтетичного сердечника і 6 пасом, в кожному з яких міститься 19 дротів без зовнішнього покриття. Канат є стійким до інтенсивного зношування та стирання. Він має широке застосування в обладнанні для підйому та переміщення людей та цінних вантажів, таких як ліфти, кліті, фунікулери, підйомники та інші відповідальні механізми. Через свої властивості канат ще називають ліфтовим вантажним або вантажолюдським. Всі дроти, з яких виготовлений трос, підлягають випробуванню, щоб забезпечити безпеку та якість виробу. 
		+sOther()
			//-other here
			+sOtherItem({
				picName: 'stalevi-kanaty-2',
				title: 'Канат сталевий оцинкований ДСТУ 3069-80',
				pills: [],
				link: 'stalevi-kanaty-3069-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-3',
				title: 'Канат сталевий  DIN 3069 SE',
				pills: [],
				link: 'stalevi-kanaty-3069-se.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-5',
				title: 'Канат сталевий ДСТУ 7665-80',
				pills: [],
				link: 'stalevi-kanaty-7665-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-6',
				title: 'Канат сталевий DIN 3062 FE',
				pills: [],
				link: 'stalevi-kanaty-3062-fe.html',
			})
	+footer()