extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sDelivery/_sDelivery.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sGoods/_sGoods.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sOffer/_sOffer.pug
include ../blocks/footer/_footer.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sOther/_sOther.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '04.png'

block title
	- let  title= 'catalog'
	title= title
block pagecontent
	+header()
		+top-nav()
	main
		+sProdCard({
			breadcrumbs: [
				{href: './', txt: 'Головна',},
				{href: './catalog.html', txt: 'Каталог',},
				{
					href: './catalog.html?category=stalevi-kanaty',
					txt: 'Сталеві канати',
				},
				{
					href: '',
					txt: 'Канат сталевий ДСТУ 7669-80',
				},
			],
			title: 'Канат сталевий ДСТУ 7669-80',
			imgs: [
				'stalevi-kanaty-10.jpg'
			],
			chars: [
				{
					key: 'Покриття',
					val: 'без покриття, світлий;',
				},
				{
					key: 'Сердечник',
					val: "металевий;",
				},
				{
					key: 'Конструкція',
					val: '6х36 (1+7+7/7+14)+7х7(1+6);',
				},
				{
					key: 'Призначення',
					val: 'екскаваторний, для металургійних кранів та похилих установок підйому в шахтах;',
				},
				{
					key: 'Стандарт',
					val: 'ДСТУ 7669-80.',
				},
			],
			pills: [],
			tableTxt: 'Технічні ХАРАКТЕРИСТИКИ сталевих КАНАТІВ ДСТУ 7669-80:',
			tableImg: 'stalevi-kanaty-10-table.png',
		})
			//- content here
			p Канат ДСТУ 7669-80 є оптимальним поєднанням міцності та гнучкості. Для досягнення максимальної міцності в зовнішньому шарі використовуються зносостійкі дроти, а металевий сердечник забезпечує високу міцність каната та запобігає розтягуванню під великими навантаженнями. Конструкція каната включає подвійне звивання типу ЛК-РО і складається з шести ідентичних пасів, що містять багато дротів. Така конструкція забезпечує високу гнучкість каната. Крім того, канат може бути виготовлений як правого, так і лівого плетіння.
			h6 Сфери застосування:
			ul 
				li для різноманітних видів кранів: автомобільних, залізничних, баштових, мостових, козлових, портальних;
				li для підйомних, тягових механізмів у різних виробництвах, а також в металургії та інших галузях промисловості;
				li використовується на землерийних та гірських машинах;
				li в якості вантових і стріляв канатів, а також для розтяжок, які несуть канати для мостів;
				li в шахтних та підйомних установках.
		+sOther()
			//-other here
			+sOtherItem({
				picName: 'stalevi-kanaty-8',
				title: 'Канат сталевий ДСТУ 7667-80',
				pills: [],
				link: 'stalevi-kanaty-7667-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-9',
				title: 'Канат сталевий оцинкований ДСТУ 3063-80',
				pills: [],
				link: 'stalevi-kanaty-3063-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-11',
				title: 'Канат сталевий EN 12385-4',
				pills: [],
				link: 'stalevi-kanaty-12385-4.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-12',
				title: 'Канат сталевий ДСТУ 2688-80',
				pills: [],
				link: 'stalevi-kanaty-2688-80.html',
			})
	+footer()