extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sDelivery/_sDelivery.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sGoods/_sGoods.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sOffer/_sOffer.pug
include ../blocks/footer/_footer.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sOther/_sOther.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '04.png'

block title
	- let  title= 'catalog'
	title= title
block pagecontent
	+header()
		+top-nav()
	main
		+sProdCard({
			breadcrumbs: [
				{href: './', txt: 'Головна',},
				{href: './catalog.html', txt: 'Каталог',},
				{
					href: './catalog.html?category=stalevi-kanaty',
					txt: 'Сталеві канати',
				},
				{
					href: '',
					txt: 'Канат сталевий ДСТУ 7668-80',
				},
			],
			title: 'Канат сталевий ДСТУ 7668-80',
			imgs: [
				'stalevi-kanaty-13.jpg'
			],
			chars: [
				{
					key: 'Покриття',
					val: 'без покриття;',
				},
				{
					key: 'Сердечник',
					val: "органічний;",
				},
				{
					key: 'Конструкція',
					val: '6х36 (1+7+7/7+14)+1о.с.;',
				},
				{
					key: 'Призначення',
					val: 'для підйомно-транспортних машин та механізмів, шахтні канати для підйомних установок (тельфера, кран-балки, автокрани, мостові крани тощо);',
				},
				{
					key: 'Стандарт',
					val: 'ДСТУ 7668-80.',
				},
			],
			pills: [],
			tableTxt: 'Технічні ХАРАКТЕРИСТИКИ сталевих КАНАТІВ ДСТУ 7668-80:',
			tableImg: 'stalevi-kanaty-13-table.png',
		})
			//- content here
			p Сталевий трос ДСТУ 7668-80 є надзвичайно гнучким і одночасно міцним крановим канатом, що має велику кількість дротів у пасмах і один з кращих показників співвідношення гнучкості та міцності. Канат складається з шести ідентичних пасом з лінійним торканням дротів і має подвійне звивання типу ЛК-РО та конструкцію 6х36 (1 + 7 + 7/7 + 14) + 1о.с. Більший діаметр крайнього шару дротів в пасмах забезпечує канату високу зносостійкість, а сердечник може бути виготовлений з органічних матеріалів, таких як пенька, поліпропілен або сизаль, просочений спеціальним канатним мастилом для підвищеної довговічності. Канат може мати праве або ліве плетіння і виготовлятися з використанням дроту марки 1, В або ВК. Канат можна використовувати в різноманітних галузях, у тому числі в крановому обладнанні, підйомно-транспортному обладнанні, в екскаваторах та землерийній техніці, в підвісних дорогах, в шахтному обладнанні і для виготовлення канатних стропів.
			h6 Сфери застосування:
			ul 
				li Машини та механізми для підйому та транспортування вантажів;
				li Підйомні установки для застосування в шахтах;
				li Спеціальна техніка для будівництва та обслуговування доріг;
				li Засоби малої механізації, такі як крани, тельфери, талі та лебідки;
				li Виготовлення канатних строп різних типів та конструкцій.
		+sOther()
			//-other here
			+sOtherItem({
				picName: 'stalevi-kanaty-9',
				title: 'Канат сталевий оцинкований ДСТУ 3063-80',
				pills: [],
				link: 'stalevi-kanaty-3063-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-10',
				title: 'Канат сталевий оцинкований ДСТУ 7669-80',
				pills: [],
				link: 'stalevi-kanaty-7669-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-11',
				title: 'Канат сталевий EN 12385-4',
				pills: [],
				link: 'stalevi-kanaty-12385-4.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-12',
				title: 'Канат сталевий ДСТУ 2688-80',
				pills: [],
				link: 'stalevi-kanaty-2688-80.html',
			})
	+footer()