extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sDelivery/_sDelivery.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sGoods/_sGoods.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sOffer/_sOffer.pug
include ../blocks/footer/_footer.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sOther/_sOther.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '04.png'

block title
	- let  title= 'catalog'
	title= title
block pagecontent
	+header()
		+top-nav()
	main
		+sProdCard({
			breadcrumbs: [
				{href: '/', txt: 'Головна',},
				{href: './catalog.html', txt: 'Каталог',},
				{
					href: './catalog.html?category=stalevi-kanaty',
					txt: 'Сталеві канати',
				},
				{
					href: '',
					txt: 'Канат сталевий DIN 3062 FE',
				},
			],
			title: 'Канат сталевий DIN 3062 FE',
			imgs: [
				'stalevi-kanaty-6.jpg'
			],
			chars: [
				{
					key: 'Покриття',
					val: 'світлий, без покриття "СВ";',
				},
				{
					key: 'Сердечник',
					val: "органічний;",
				},
				{
					key: 'Конструкція',
					val: '8х19S 8x (1 + 9 + 9) +1 FC;',
				},
				{
					key: 'Призначення',
					val: 'для підйомно-транспортних машин; ліфтові;',
				},
				{
					key: 'Стандарт',
					val: 'EN 12385-5 (DIN 3062 FE), 8x19S-FC.',
				},
			],
			pills: [],
			tableTxt: 'Технічні ХАРАКТЕРИСТИКИ ОЦИНКОВАНИХ КАНАТІВ DIN 3062:',
			tableImg: 'stalevi-kanaty-6-table.png',
		})
			//- content here
			p Одна з особливостей канату DIN 3062 полягає у його використанні в ліфтовому господарстві та інших системах підйому для людей та вантажів, завдяки його унікальній багатосталковій конструкції.
			p Щоб використовувати цей канат для підйому людей, необхідно здійснити додаткове випробування на заводі-виробнику з наступним внесенням відповідної інформації в сертифікат якості. Канат DIN 3062 складається з восьми ідентичних прядей, при цьому зовнішній шар має більший діаметр дроту, що підвищує його зносостійкість при тривалому безперервному використанні на великій висоті.
			p Цей канат може мати тільки органічний сердечник, такий як пенька, сизаль або поліпропілен, що надає йому додаткову гнучкість та здатність працювати на шківах невеликих діаметрів. Зазвичай, канат виготовляється з дроту без покриття.
			h6 Сфери застосування:
			ul 
				li на підйомних механізмах;
				li у вантажолюдських ліфтах, а також у землерийних та гірничих машинах;
				li в шахтних підйомних установках та на канатних дорогах.
		+sOther()
			//-other here
			+sOtherItem({
				picName: 'stalevi-kanaty-4',
				title: 'Канат сталевий ДСТУ 3077-80',
				pills: [],
				link: 'stalevi-kanaty-3077-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-5',
				title: 'Канат сталевий ДСТУ 7665-80',
				pills: [],
				link: 'stalevi-kanaty-7665-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-7',
				title: 'Канат сталевий оцинкований ДСТУ 3062-80',
				pills: [],
				link: 'stalevi-kanaty-3062-80.html',
			})
			+sOtherItem({
				picName: 'stalevi-kanaty-8',
				title: 'Канат сталевий ДСТУ 7667-80',
				pills: [],
				link: 'stalevi-kanaty-7667-80.html',
			})
	+footer()