extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sDelivery/_sDelivery.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sGoods/_sGoods.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sOffer/_sOffer.pug
include ../blocks/footer/_footer.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sOther/_sOther.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '04.png'

block title
	- let  title= 'catalog'
	title= title
block pagecontent
	+header()
		+top-nav()
	main
		+sProdCard({
			breadcrumbs: [
				{href: '/', txt: 'Головна',},
				{href: '/catalog.html', txt: 'Каталог',},
				{
					href: '/catalog.html?category=stalevi-kanaty',
					txt: 'Сталеві канати',
				},
				{
					href: '',
					txt: 'Канат сталевий DIN 3071',
				},
			],
			title: 'Канат сталевий DIN 3071',
			imgs: [
				'stalevi-kanaty-11.jpg'
			],
			chars: [
				{
					key: 'Покриття',
					val: 'світлий, без покриття "СВ";',
				},
				{
					key: 'Сердечник',
					val: "металевий;",
				},
				{
					key: 'Конструкція',
					val: '35x7 IWRC;',
				},
				{
					key: 'Призначення',
					val: 'на баштовий кран; для головного та допоміжного підйому;',
				},
				{
					key: 'Стандарт',
					val: 'EN 12385-4 (DIN 3071), 35x7-IWRC.',
				},
			],
			pills: [],
			tableTxt: 'Технічні ХАРАКТЕРИСТИКИ сталевих КАНАТІВ EN 12385-4:',
			tableImg: 'stalevi-kanaty-11-table.png',
		})
			//- content here
			p Канат згідно стандарту EN 12385-4 є багатосталковим тросом з малою крутливістю. Він використовується для баштових кранів великої висоти, що піднімають вантажі. Особливість цього канату полягає в його багатосталковій конструкції, яка зменшує крутіння каната під час роботи на великих висотах.
			p Цей канат складається з 37 ідентичних пасом, що збільшує його зносостійкість при тривалому використанні. Серцевина каната з металу, що робить канат ще міцнішим у порівнянні з канатом стандарту з органічною серцевиною. Канат поставляється в упаковці у вигляді намотування на дерев'яний барабан або у пов'язаній бухті, залежно від кількості.
			h6 Сфери застосування:
			ul 
				li для автомобільних, баштових, корабельних і кранових систем;
				li на підйомних, тягових механізмах, тельферах з іноземного виробництва;
				li у шахтних підйомних установках та канатних дорогах.
		+sOther()
			//-other here
			+sOtherItem({
				picName: 'stropy-kanatni-2',
				title: 'Двогілковий 2СК',
				pills: ['0,8 т', '1 т', '1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т'],
				link: 'stropy-kanatni-dvohilkovyi-2SK.html',
			})
			+sOtherItem({
				picName: 'stropy-kanatni-3',
				title: 'Чотирьохгілковий 4СК',
				pills: ['1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т', '20 т', '25 т', '32 т'],
				link: 'stropy-kanatni-chotyriohhilkovyi-4SK.html',
			})
			+sOtherItem({
				picName: 'stropy-tekstylni-1',
				title: 'Одногілковий 1СТ',
				pills: ['1 т', '2 т', '3 т', '4 т', '5 т', '6 т', '8 т', '10 т'],
				link: 'stropy-tekstylni-odnohilkovyi-1ST.html',
			})
			+sOtherItem({
				picName: 'stropy-tekstylni-2',
				title: 'Двогілковий 2СТ',
				pills: ['1 т', '2 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т'],
				link: 'stropy-tekstylni-dvohilkovyi-2ST.html',
			})
	+footer()