extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sDelivery/_sDelivery.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sGoods/_sGoods.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sOffer/_sOffer.pug
include ../blocks/footer/_footer.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sOther/_sOther.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '04.png'

block title
	- let  title= 'catalog'
	title= title
block pagecontent
	+header()
		+top-nav()
	main
		+sProdCard({
			breadcrumbs: [
				{href: '/', txt: 'Головна',},
				{href: './catalog.html', txt: 'Каталог',},
				{
					href: './catalog.html?category=stropy-lantsiuhovi',
					txt: 'Стропи ланцюгові',
				},
				{
					href: '',
					txt: 'Строп ланцюговий ГЛ',
				},
			],
			title: 'Строп ланцюговий ГЛ',
			imgs: [
				'stropy-lantsiuhovi-5.jpg'
			],
			chars: [
				{
					key: 'Гілка ланцюгова',
					val: '',
				},
				{
					key: 'Коефіцієнт запасу міцності',
					val: '4:1;',
				},
				{
					key: 'Матеріал',
					val: 'ланцюг, гак, ланка сполучна або ланцюг, ланка, ланка сполучна;',
				},
				{
					key: 'Температурний діапазон',
					val: 'від -40 до +100 °С;',
				},
				{
					key: 'Стандарт',
					val: 'ДСТУ EN 818-4:2018;',
				},
				{
					key: 'Гарантія',
					val: '6 місяців.',
				},
			],
			pills: ['1,12', '2', '3,15', '5,3', '8', '11,2', '15'],
			tableTxt: 'ТЕХНІЧНІ ХАРАКТЕРИСТИКИ ланцюгових СТРОП ГЛ',
			tableImg: 'stropy-lantsiuhovi-5-table.png',
		})
			//- content here
			p Строп з гілкою ланцюговою можна розглядати як один з варіантів стропа ланцюгового одногілкового 1СЛ. Виготовляються стропи ВЛ з високоміцного ланцюга та комплектуючих міцності 8 класу (G80), що дозволяє їм ідеально підходити для перевезення вантажів з дстурими кромками або в агресивних середовищах з високими температурами.
			p Найбільш поширеними варіантами виконання є гак-гак, гак-обмежувач-гак-обмежувач, ланка-ланка та інші.
			p Переваги використання стропів з гілкою ланцюговою включають компактність, можливість ремонту, довговічність, стійкість до високих температур, стійкість до механічних пошкоджень та можливість регулювання довжини гілок (як додаткова опція).
		+sOther()
			//-other here
			+sOtherItem({
				picName: 'stropy-lantsiuhovi-2',
				title: 'Двогілковий 2СЛ',
				pills: ['1,6 т', '2,8 т', '4,25 т', '7,5 т', '11,2 т','21,2 т', '30 т'],
				link: 'stropy-lantsiuhovi-dvohilkovyi-2SL.html',
			})
			+sOtherItem({
				picName: 'stropy-lantsiuhovi-3',
				title: 'чотирьохгілковий 4СЛ',
				pills: ['2,36 т', '4,25 т', '6,7 т', '11,2 т', '17 т', '26,5 т', '31,5 т', '45 т'],
				link: 'stropy-lantsiuhovi-dvohilkovyi-2SL.html',
			})
			+sOtherItem({
				picName: 'stropy-lantsiuhovi-4',
				title: 'Кільцевий УСЛ',
				pills: ['1,8 т', '3,15 т', '5 т', '8,5 т', '12,5 т', '20 т', '23,6 т', '33,5 т', '50 т'],
				link: 'stropy-lantsiuhovi-kiltseviy-USL.html',
			})
			+sOtherItem({
				picName: 'stropy-lantsiuhovi-6',
				title: 'Двогілковий 2СЛГЗ',
				pills: ['2,36 т', '3,15 т', '4,25 т', '6,7 т', '11,2 т', '17 т', '25,5 т', '31,5 т', '40 т', '63 т'],
				link: 'stropy-lantsiuhovi-dvohilkovyi-2SLGZ.html',
			})
	+footer()