extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sDelivery/_sDelivery.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sGoods/_sGoods.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sOffer/_sOffer.pug
include ../blocks/footer/_footer.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sOther/_sOther.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '04.png'

block title
	- let  title= 'catalog'
	title= title
block pagecontent
	+header()
		+top-nav()
	main
		+sProdCard({
			breadcrumbs: [
				{href: '/', txt: 'Головна',},
				{href: './catalog.html', txt: 'Каталог',},
				{
					href: './catalog.html?category=stropy-kanatni',
					txt: 'Стропи канатні',
				},
				{
					href: '',
					txt: 'Строп канатний СКП (втулка)',
				},
			],
			title: 'Строп канатний СКП (втулка)',
			imgs: [
				'stropy-kanatni-5.jpg'
			],
			chars: [
				{
					key: 'Строп канатний петльовий',
					val: '',
				},
				{
					key: 'Коефіцієнт запасу міцності',
					val: '6:1;',
				},
				{
					key: 'Матеріал',
					val: 'Сталевий канат, комплектуючі G80;',
				},
				{
					key: 'Температурний діапазон',
					val: 'від -40 до +100 °С;',
				},
				{
					key: 'Стандарт',
					val: 'ДСТУ EN 13414-1:2018, ДСТУ Б В.2.8-10-98;',
				},
				{
					key: 'Гарантія',
					val: '3 місяці.',
				},
			],
			pills: ['0,63', '0,8', '1,25', '1,6', '2', '2,5', '2,8', '3,2', '4', '5', '6,3', '8', '10', '12,5', '16', '20'],
			tableTxt: 'ТЕХНІЧНІ ХАРАКТЕРИСТИКИ КАНАТНИХ СТРОП СКП',
			tableImg: 'stropy-kanatni-5-table.png',
		})
			//- content here
			p Стропи сталеві канатні типу СКП (строп канатний петльовий), в народі часто звані чалки, призначені для підйому і переміщення різних вантажів в умовах промислових підприємств, складських господарств, будівельних майданчиків.
			h6 Сфери застосування:
			p Використання канатних стропів СКП можливе в різних виробничих умовах, включаючи будівництво, навантажувально-розвантажувальні роботи та такелажні роботи в морських і річкових портах.
		+sOther()
			//-other here
			+sOtherItem({
				picName: 'stropy-kanatni-2',
				title: 'Двогілковий 2СК',
				pills: ['0,8 т', '1 т', '1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т'],
				link: 'stropy-kanatni-dvohilkovyi-2SK.html',
			})
			+sOtherItem({
				picName: 'stropy-kanatni-3',
				title: 'Чотирьохгілковий 4СК',
				pills: ['1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т', '20 т', '25 т', '32 т'],
				link: 'stropy-kanatni-chotyriohhilkovyi-4SK.html',
			})
			+sOtherItem({
				picName: 'stropy-kanatni-4',
				title: 'Двопетльовий СКП (заплітання)',
				pills: ['0,63 т', '0,8 т', '1,25 т', '1,6 т', '2 т', '2,5 т', '2,8 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т', '20 т'],
				link: 'stropy-kanatni-Dvopetliovyj-SKP-(zaplitannya).html',
			})
			+sOtherItem({
				picName: 'stropy-kanatni-6',
				title: 'Кільцевій СКК (заплітання)',
				pills: ['1,25 т', '1,8 т', '2,5 т', '3,2 т', '4 т', '5 т', '7 т', '8 т', '10 т', '12,5 т', '16 т', '20 т', '25 т', '32 т'],
				link: 'stropy-kanatni-Kilcevij-SKK-(zaplitannya).html',
			})
	+footer()