extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sDelivery/_sDelivery.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sGoods/_sGoods.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sOffer/_sOffer.pug
include ../blocks/footer/_footer.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sOther/_sOther.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '04.png'

block title
	- let  title= 'catalog'
	title= title
block pagecontent
	+header()
		+top-nav()
	main
		+sProdCard({
			breadcrumbs: [
				{href: '/', txt: 'Головна',},
				{href: '/catalog.html', txt: 'Каталог',},
				{
					href: '/catalog.html?category=stropy-kanatni',
					txt: 'Стропи канатні',
				},
				{
					href: '',
					txt: 'Строп канатний 2СК',
				},
			],
			title: 'Строп канатний 2СК',
			imgs: [
				'stropy-kanatni-2.jpg',
				'stropy-kanatni-hook.jpg',
			],
			chars: [
				{
					key: 'Строп канатний двогілковий',
					val: '',
				},
				{
					key: 'Коефіцієнт запасу міцності',
					val: '6:1;',
				},
				{
					key: 'Матеріал',
					val: 'світлі канати без покриття ГОСТ 7668-80, 2688-80, ланки G80;',
				},
				{
					key: 'Температурний діапазон',
					val: 'від -40 до +100 °С;',
				},
				{
					key: 'Стандарт',
					val: 'ДСТУ EN 13414-1:2018, ДСТУ Б В.2.8-10-98;',
				},
				{
					key: 'Гарантія',
					val: '6 місяців.',
				},
			],
			pills: ['0,8', '1', '1,6', '2', '2,5', '3,2', '4', '5', '6,3', '8', '10', '12,5', '16', '20', '25'],
			tableTxt: 'ТЕХНІЧНІ ХАРАКТЕРИСТИКИ КАНАТНИХ СТРОП 2СК',
			tableImg: 'stropy-kanatni-2-table.png',
		})
			//- content here
			p Стропи 2СК складаються з двох канатних гілок з гаками, які кріпляться до вантажопідйомного ланцюга. Ланцюг в свою чергу закріплюється на гаку вантажного крану. Виготовлення стропа 2СК передбачає обтиск каната алюмінієвою втулкою. Цей вид стропа використовується у випадках, коли на вантажі є спеціальні місця для зачеплення гаків.
			h6 Сфери застосування:
			p Використання канатних стропів 2СК можливе в різних виробничих умовах, включаючи будівництво, навантажувально-розвантажувальні роботи та такелажні роботи в морських і річкових портах.
		+sOther()
			//-other here
			+sOtherItem({
				picName: 'stropy-kanatni-2',
				title: 'Двогілковий 2СК',
				pills: ['0,8 т', '1 т', '1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т'],
				link: 'stropy-kanatni-dvohilkovyi-2SK.html',
			})
			+sOtherItem({
				picName: 'stropy-kanatni-3',
				title: 'Чотирьохгілковий 4СК',
				pills: ['1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т', '20 т', '25 т', '32 т'],
				link: 'stropy-kanatni-chotyriohhilkovyi-4SK.html',
			})
			+sOtherItem({
				picName: 'stropy-tekstylni-1',
				title: 'Одногілковий 1СТ',
				pills: ['1 т', '2 т', '3 т', '4 т', '5 т', '6 т', '8 т', '10 т'],
				link: 'stropy-tekstylni-odnohilkovyi-1ST.html',
			})
			+sOtherItem({
				picName: 'stropy-tekstylni-2',
				title: 'Двогілковий 2СТ',
				pills: ['1 т', '2 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т'],
				link: 'stropy-tekstylni-dvohilkovyi-2ST.html',
			})
	+footer()