extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sDelivery/_sDelivery.pug

include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sGoods/_sGoods.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sOffer/_sOffer.pug
include ../blocks/footer/_footer.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sOther/_sOther.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '04.png'

block title
	- let  title= 'catalog'
	title= title
block pagecontent
	+header()
		+top-nav()
	main
		+sProdCard({
			breadcrumbs: [
				{href: '/', txt: 'Головна',},
				{href: '/catalog.html', txt: 'Каталог',},
				{
					href: '/catalog.html?category=stropy-lantsiuhovi',
					txt: 'Стропи ланцюгові',
				},
				{
					href: '',
					txt: 'Строп ланцюговий 2СЛГЗ',
				},
			],
			title: 'Строп ланцюговий 2СЛГЗ',
			imgs: [
				'stropy-lantsiuhovi-6.jpg'
			],
			chars: [
				{
					key: 'Строп ланцюговий двогілковий з ковзними гаками',
					val: '',
				},
				{
					key: 'Коефіцієнт запасу міцності',
					val: '4:1;',
				},
				{
					key: 'Матеріал',
					val: 'ланцюг, гак, ланка сполучна або ланцюг, ланка, ланка сполучна;',
				},
				{
					key: 'Температурний діапазон',
					val: 'від -40 до +100 °С;',
				},
				{
					key: 'Стандарт',
					val: 'ДСТУ EN 818-4:2018;',
				},
				{
					key: 'Гарантія',
					val: '6 місяців.',
				},
			],
			pills: ['2,36', '3,15', '4,25', '6,7', '11,2', '17', '25,5', '31,5', '40', '63'],
			tableTxt: 'ТЕХНІЧНІ ХАРАКТЕРИСТИКИ ланцюгових СТРОП 2СЛГЗ',
			tableImg: 'stropy-lantsiuhovi-6-table.png',
		})
			//- content here
			p Строп 2СЛГЗ - це ланцюговий строп, який складається з двох ланцюгових гілок з крюками, які одягнені на вантажопідйомну ланку. Його особливість полягає в тому, що він може бути використаний для підняття вантажу "на зашморг" завдяки крюкам-чокерам, які замінюють стандартні вилкові крюки. Строп складається з комплектуючих по G80, а вартість його вища, ніж вартість аналогічного канатного або текстильного стропу. Однак, це виправдовується довговічністю та універсальністю стропу. Двохветвові ланцюгові стропи з ковзаючими крюками-чокерами мають стандартний запас міцності 4:1 і можуть замінити пару стропів СКП для роботи "на зашморг".
			p Стропи 2СЛГЗ з крюками-чокерами можуть бути використані у різних галузях, таких як металургійні і інші виробництва з високотемпературними цехами, будівництво, навантажувально-розвантажувальні та такелажні роботи в морських і річкових портах.
		+sOther()
			//-other here
			+sOtherItem({
				picName: 'stropy-kanatni-2',
				title: 'Двогілковий 2СК',
				pills: ['0,8 т', '1 т', '1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т'],
				link: 'stropy-kanatni-dvohilkovyi-2SK.html',
			})
			+sOtherItem({
				picName: 'stropy-kanatni-3',
				title: 'Чотирьохгілковий 4СК',
				pills: ['1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т', '20 т', '25 т', '32 т'],
				link: 'stropy-kanatni-chotyriohhilkovyi-4SK.html',
			})
			+sOtherItem({
				picName: 'stropy-tekstylni-1',
				title: 'Одногілковий 1СТ',
				pills: ['1 т', '2 т', '3 т', '4 т', '5 т', '6 т', '8 т', '10 т'],
				link: 'stropy-tekstylni-odnohilkovyi-1ST.html',
			})
			+sOtherItem({
				picName: 'stropy-tekstylni-2',
				title: 'Двогілковий 2СТ',
				pills: ['1 т', '2 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т'],
				link: 'stropy-tekstylni-dvohilkovyi-2ST.html',
			})
	+footer()