// start .sDelivery
.sDelivery {
	--sPT: #{rem(0)};
	--sPB: #{rem(80)};
	--sTPB: #{rem(0)};


	&__box{
		margin-bottom: rem(30);
		@include media-breakpoint-up(md){
			margin-bottom: rem(40);
		}

		&:last-child{
			margin-bottom: 0;
		}

		& > *:last-child{
			margin-bottom: 0;
		}

		h2{
			@include media-breakpoint-up(xxl){
				font-size: rem(32px);
				text-transform: uppercase;
			}

			color: $gray-900;
		}
		p{
			line-height: 1.5;
			color: $body-color;
			margin-bottom: 20px;
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0 0 rem(20);

			li{
				display: flex;
				align-items: flex-start;

				line-height: 1.5;
				font-size: rem(16);

				&:before{
					content: '';
					width: 3px;
					height: 3px;
					display: block;
					background-color: $body-color;

					margin: 10px 10px 0 10px;
				}
			}
		}
	}
	&__row{
		--bs-gutter-x: #{rem(20)};
		margin-bottom: rem(20);
	}
	&__img{
		img{}
	}


	&__{}
	&__{}
} // end.sDelivery