mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		+b.section-bg
			+pic('sCatalog-bg.jpg')
			.container
				+b.section-title
					h1 Каталог ТОВАРІВ
		.container
			+e.main-row.row
				+e.col--left.col-lg-3.col-md-3
					+e.filters.sticky.filters-js
						+e.f-container.container
							+e.f-close.f-toggle-js
								+icon('cross')
							+e.category-txt КАТЕГОРІЇ
							+e.f-items.mixit-chb-group-js
								+sCatalogFilterItem({
									value: 'all',
									txt: 'Всі товари',
								})(checked)
								+sCatalogFilterItem({
									value: '.stalevi-kanaty',
									txt: 'Сталеві канати',
								})
								+sCatalogFilterItem({
									value: '.stropy-kanatni',
									txt: 'Стропи канатні',
								})
								+sCatalogFilterItem({
									value: '.stropy-tekstylni',
									txt: 'Стропи текстильні',
								})
								+sCatalogFilterItem({
									value: '.stropy-lantsiuhovi',
									txt: 'Стропи ланцюгові',
								})
								+sCatalogFilterItem({
									value: '.stiazhni-remeni',
									txt: 'Стяжні ремені',
								})
								+sCatalogFilterItem({
									value: '.buksyruvalni-remeni',
									txt: 'Буксирувальні ремені',
								})
								+sCatalogFilterItem({
									value: '.buksyruvalni-trosy',
									txt: 'Буксирувальні троси',
								})
								+sCatalogFilterItem({
									value: '.tali-ruchni-lantsiuhovi',
									txt: 'Талі ручні ланцюгові',
								})
				+e.col--right.col-lg-9.col-md-9
					+e.items-row.row.mixit-cont-js
						//-stalevi-kanaty => 2

						//-remove, only for test
						-for(let i = 0; i < 5; i++)
							+sCatalogItem({
								picName: 'stalevi-kanaty-1',
								title: `stalevi-kanaty ${i}`,
								pills: ['0,63 т', '0,8 т', '1 т', '1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т'],
								link: '/04-prod-page.html',
							})(class="mix stalevi-kanaty")
						//-remove, only for test

						//-stropy-kanatni => 3
						+sCatalogItem({
							picName: 'stropy-kanatni-1',
							title: 'Одногілковий 1СК',
							pills: ['0,63 т', '0,8 т', '1 т', '1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т'],
							link: '#',
						})(class="mix stropy-kanatni")
						+sCatalogItem({
							picName: 'stropy-kanatni-2',
							title: 'Двогілковий 2СК',
							pills: ['0,8 т', '1 т', '1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т'],
							link: '#',
						})(class="mix stropy-kanatni")
						+sCatalogItem({
							picName: 'stropy-kanatni-3',
							title: 'Чотиригілковий 4СК',
							pills: ['1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т', '20 т', '25 т', '32 т'],
							link: '#',
						})(class="mix stropy-kanatni")
						+sCatalogItem({
							picName: 'stropy-kanatni-4',
							title: 'Двопетльовий СКП (заплітання)',
							pills: ['0,63 т', '0,8 т', '1,25 т', '1,6 т', '2 т', '2,5 т', '2,8 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т', '20 т'],
							link: '#',
						})(class="mix stropy-kanatni")
						+sCatalogItem({
							picName: 'stropy-kanatni-5',
							title: 'Двопетльовий СКП (втулка)',
							pills: ['0,63 т', '0,8 т', '1,25 т', '1,6 т', '2 т', '2,5 т', '2,8 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т', '20 т'],
							link: '#',
						})(class="mix stropy-kanatni")
						+sCatalogItem({
							picName: 'stropy-kanatni-6',
							title: 'Кільцевій СКК (заплітання)',
							pills: ['1,25 т', '1,8 т', '2,5 т', '3,2 т', '4 т', '5 т', '7 т', '8 т', '10 т', '12,5 т', '16 т', '20 т', '25 т', '32 т'],
							link: '#',
						})(class="mix stropy-kanatni")
						//-stropy-tekstylni => 4
						//-stropy-lantsiuhovi => 5
						//-stiazhni-remeni => 6
						//-buksyruvalni-remeni => 7
						//-buksyruvalni-trosy => 8
						//-tali-ruchni-lantsiuhovi => 9
						//-
							+sCatalogItem({
								picName: '',
								title: '',
								pills: ['', '', '', '', '', '', '', '', '', '', ''],
								link: '',
							})
			+e.f-open-btn.f-toggle-js КАТЕГОРІЇ


mixin sCatalogFilterItem(data)
	+e.f-item
		label.custom-checkbox
			input.invisible(type="radio" name="catalog-radio" value=data.value)&attributes(attributes)
			.circle
			.txt=data.txt


mixin sOtherItem(data)
	+b.prod-slide.swiper-slide
		+prodItem(data)

mixin sCatalogItem(data)
	+e.item-col.col-sm-6.col-xl-4&attributes(attributes)
		+prodItem(data)

mixin prodItem(data)
	+b.prod-item(href=data.link)
		+pic(data.picName)
		+e.title=data.title
		+e.pills-row.row
			-for(let pill of data.pills)
				+sCatalogPill(pill)
		+e.btn Переглянути деталі

mixin sCatalogPill(txt)
	.col-auto.d-block
		+e.pill=txt