mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		+b.section-bg
			+pic('sCatalog-bg.jpg')
			.container
				+b.section-title
					h1 Каталог ТОВАРІВ
		.container
			+e.main-row.row
				+e.col--left.col-lg-3.col-md-3
					+e.filters.filters-js
						+e.f-container.container
							+e.f-close.f-toggle-js
								+icon('cross')
							+e.category-txt КАТЕГОРІЇ
							+e.f-items.mixit-chb-group-js
								+sCatalogFilterItem({
									value: 'all',
									txt: 'Всі товари',
								})(checked)
								+sCatalogFilterItem({
									value: '.stalevi-kanaty',
									txt: 'Сталеві канати',
								})
								+sCatalogFilterItem({
									value: '.stropy-kanatni',
									txt: 'Стропи канатні',
								})
								+sCatalogFilterItem({
									value: '.stropy-tekstylni',
									txt: 'Стропи текстильні',
								})
								+sCatalogFilterItem({
									value: '.stropy-lantsiuhovi',
									txt: 'Стропи ланцюгові',
								})
								+sCatalogFilterItem({
									value: '.stiazhni-remeni',
									txt: 'Стяжні ремені',
								})
								+sCatalogFilterItem({
									value: '.buksyruvalni-remeni',
									txt: 'Буксирувальні ремені',
								})
								+sCatalogFilterItem({
									value: '.buksyruvalni-trosy',
									txt: 'Буксирувальні троси',
								})
								+sCatalogFilterItem({
									value: '.tali-ruchni-lantsiuhovi',
									txt: 'Талі ручні ланцюгові',
								})
				+e.col--right.col-lg-9.col-md-9
					+e.items-row.row.mixit-cont-js
						//-stalevi-kanaty => 2

						//-remove, only for test
						//- -for(let i = 0; i < 5; i++)
						//- 	+sCatalogItem({
						//- 		picName: 'stalevi-kanaty-1',
						//- 		title: `stalevi-kanaty ${i}`,
						//- 		pills: ['0,63 т', '0,8 т', '1 т', '1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т'],
						//- 		link: '/04-prod-page.html',
						//- 	})(class="mix stalevi-kanaty")
						//-remove, only for test
						+sCatalogItem({
							picName: 'stalevi-kanaty-1',
							title: 'Канат сталевий оцинкований ДСТУ 3066-80',
							pills: [],
							link: 'stalevi-kanaty-3066-80.html',
						})(class="mix stalevi-kanaty")
						+sCatalogItem({
							picName: 'stalevi-kanaty-2',
							title: 'Канат сталевий оцинкований ДСТУ 3069-80',
							pills: [],
							link: 'stalevi-kanaty-3069-80.html',
						})(class="mix stalevi-kanaty")
						+sCatalogItem({
							picName: 'stalevi-kanaty-3',
							title: 'Канат сталевий  DIN 3069 SE',
							pills: [],
							link: 'stalevi-kanaty-3069-se.html',
						})(class="mix stalevi-kanaty")
						+sCatalogItem({
							picName: 'stalevi-kanaty-4',
							title: 'Канат сталевий ДСТУ 3077-80',
							pills: [],
							link: 'stalevi-kanaty-3077-80.html',
						})(class="mix stalevi-kanaty")
						+sCatalogItem({
							picName: 'stalevi-kanaty-5',
							title: 'Канат сталевий ДСТУ 7665-80',
							pills: [],
							link: 'stalevi-kanaty-7665-80.html',
						})(class="mix stalevi-kanaty")
						+sCatalogItem({
							picName: 'stalevi-kanaty-6',
							title: 'Канат сталевий DIN 3062 FE',
							pills: [],
							link: 'stalevi-kanaty-3062-fe.html',
						})(class="mix stalevi-kanaty")
						+sCatalogItem({
							picName: 'stalevi-kanaty-7',
							title: 'Канат сталевий оцинкований ДСТУ 3062-80',
							pills: [],
							link: 'stalevi-kanaty-3062-80.html',
						})(class="mix stalevi-kanaty")
						+sCatalogItem({
							picName: 'stalevi-kanaty-8',
							title: 'Канат сталевий ДСТУ 7667-80',
							pills: [],
							link: 'stalevi-kanaty-7667-80.html',
						})(class="mix stalevi-kanaty")
						+sCatalogItem({
							picName: 'stalevi-kanaty-9',
							title: 'Канат сталевий оцинкований ДСТУ 3063-80',
							pills: [],
							link: 'stalevi-kanaty-3063-80.html',
						})(class="mix stalevi-kanaty")
						+sCatalogItem({
							picName: 'stalevi-kanaty-10',
							title: 'Канат сталевий ДСТУ 7669-80',
							pills: [],
							link: 'stalevi-kanaty-7669-80.html',
						})(class="mix stalevi-kanaty")
						+sCatalogItem({
							picName: 'stalevi-kanaty-11',
							title: 'Канат сталевий EN 12385-4',
							pills: [],
							link: 'stalevi-kanaty-12385-4.html',
						})(class="mix stalevi-kanaty")
						+sCatalogItem({
							picName: 'stalevi-kanaty-12',
							title: 'Канат сталевий ДСТУ 2688-80',
							pills: [],
							link: 'stalevi-kanaty-2688-80.html',
						})(class="mix stalevi-kanaty")
						+sCatalogItem({
							picName: 'stalevi-kanaty-13',
							title: 'Канат сталевий ДСТУ 7668-80',
							pills: [],
							link: 'stalevi-kanaty-7668-80.html',
						})(class="mix stalevi-kanaty")

						//-stropy-kanatni => 3
						+sCatalogItem({
							picName: 'stropy-kanatni-1',
							title: 'Одногілковий 1СК',
							pills: ['0,63 т', '0,8 т', '1 т', '1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т'],
							link: 'stropy-kanatni-odnohilkovyi-1SK.html',
						})(class="mix stropy-kanatni")
						+sCatalogItem({
							picName: 'stropy-kanatni-2',
							title: 'Двогілковий 2СК',
							pills: ['0,8 т', '1 т', '1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т'],
							link: 'stropy-kanatni-dvohilkovyi-2SK.html',
						})(class="mix stropy-kanatni")
						+sCatalogItem({
							picName: 'stropy-kanatni-3',
							title: 'Чотирьохгілковий 4СК',
							pills: ['1,6 т', '2 т', '2,5 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т', '20 т', '25 т', '32 т'],
							link: 'stropy-kanatni-chotyriohhilkovyi-4SK.html',
						})(class="mix stropy-kanatni")
						+sCatalogItem({
							picName: 'stropy-kanatni-4',
							title: 'Двопетльовий СКП (заплітання)',
							pills: ['0,63 т', '0,8 т', '1,25 т', '1,6 т', '2 т', '2,5 т', '2,8 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т', '20 т'],
							link: 'stropy-kanatni-Dvopetliovyj-SKP-(zaplitannya).html',
						})(class="mix stropy-kanatni")
						+sCatalogItem({
							picName: 'stropy-kanatni-5',
							title: 'Двопетльовий СКП (втулка)',
							pills: ['0,63 т', '0,8 т', '1,25 т', '1,6 т', '2 т', '2,5 т', '2,8 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т', '20 т'],
							link: 'stropy-kanatni-Dvopetliovyj-SKP-(vtulka).html',
						})(class="mix stropy-kanatni")
						+sCatalogItem({
							picName: 'stropy-kanatni-6',
							title: 'Кільцевій СКК (заплітання)',
							pills: ['1,25 т', '1,8 т', '2,5 т', '3,2 т', '4 т', '5 т', '7 т', '8 т', '10 т', '12,5 т', '16 т', '20 т', '25 т', '32 т'],
							link: 'stropy-kanatni-Kilcevij-SKK-(zaplitannya).html',
						})(class="mix stropy-kanatni")

						//-stropy-tekstylni => 4
						+sCatalogItem({
							picName: 'stropy-tekstylni-1',
							title: 'Одногілковий 1СТ',
							pills: ['1 т', '2 т', '3 т', '4 т', '5 т', '6 т', '8 т', '10 т'],
							link: 'stropy-tekstylni-odnohilkovyi-1ST.html',
						})(class="mix stropy-tekstylni")
						+sCatalogItem({
							picName: 'stropy-tekstylni-2',
							title: 'Двогілковий 2СТ',
							pills: ['1 т', '2 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т'],
							link: 'stropy-tekstylni-dvohilkovyi-2ST.html',
						})(class="mix stropy-tekstylni")
						+sCatalogItem({
							picName: 'stropy-tekstylni-3',
							title: 'Чотирьохгілковий 4СТ',
							pills: ['1 т', '2 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т', '12,5 т', '16 т', '20 т', '25 т'],
							link: 'stropy-tekstylni-chotyriohhilkovyi-4ST.html',
						})(class="mix stropy-tekstylni")
						+sCatalogItem({
							picName: 'stropy-tekstylni-4',
							title: 'Двопетльовий СТП',
							pills: ['1 т', '2 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т'],
							link: 'stropy-tekstylni-Dvopetliovyj-STP.html',
						})(class="mix stropy-tekstylni")
						+sCatalogItem({
							picName: 'stropy-tekstylni-5',
							title: 'Кільцевий СТК',
							pills: ['1 т', '2 т', '3,2 т', '4 т', '5 т', '6,3 т', '8 т', '10 т'],
							link: 'stropy-tekstylni-kilcevij-STK.html',
						})(class="mix stropy-tekstylni")
						//-stropy-lantsiuhovi => 5
						+sCatalogItem({
							picName: 'stropy-lantsiuhovi-1',
							title: 'Одногілковий 1СЛ',
							pills: ['1,12 т', '2 т', '3,15 т', '5,3 т', '8 т', '11,2 т', '15 т', '21,2 т'],
							link: 'stropy-lantsiuhovi-odnohilkovyi-1SL.html',
						})(class="mix stropy-lantsiuhovi")
						+sCatalogItem({
							picName: 'stropy-lantsiuhovi-2',
							title: 'Двогілковий 2СЛ',
							pills: ['1,6 т', '2,8 т', '4,25 т', '7,5 т', '11,2 т','21,2 т', '30 т'],
							link: 'stropy-lantsiuhovi-dvohilkovyi-2SL.html',
						})(class="mix stropy-lantsiuhovi")
						+sCatalogItem({
							picName: 'stropy-lantsiuhovi-3',
							title: 'чотирьохгілковий 4СЛ',
							pills: ['2,36 т', '4,25 т', '6,7 т', '11,2 т', '17 т', '26,5 т', '31,5 т', '45 т'],
							link: 'stropy-lantsiuhovi-chotyriohhilkovyi-4SL.html',
						})(class="mix stropy-lantsiuhovi")
						+sCatalogItem({
							picName: 'stropy-lantsiuhovi-4',
							title: 'Кільцевий УСЛ',
							pills: ['1,8 т', '3,15 т', '5 т', '8,5 т', '12,5 т', '20 т', '23,6 т', '33,5 т', '50 т'],
							link: 'stropy-lantsiuhovi-kiltseviy-USL.html',
						})(class="mix stropy-lantsiuhovi")
						+sCatalogItem({
							picName: 'stropy-lantsiuhovi-5',
							title: 'Гілка ланцюгова (ГЛ)',
							pills: ['1,12 т', '2 т', '3,15 т', '5,3 т', '8 т', '11,2 т', '15 т'],
							link: 'stropy-lantsiuhovi-gilka_lancugova-GL.html',
						})(class="mix stropy-lantsiuhovi")
						+sCatalogItem({
							picName: 'stropy-lantsiuhovi-6',
							title: 'Двогілковий 2СЛГЗ',
							pills: ['2,36 т', '3,15 т', '4,25 т', '6,7 т', '11,2 т', '17 т', '25,5 т', '31,5 т', '40 т', '63 т'],
							link: 'stropy-lantsiuhovi-dvohilkovyi-2SLGZ.html',
						})(class="mix stropy-lantsiuhovi")
						//-stiazhni-remeni => 6
						+sCatalogItem({
							picName: 'stiazhni-remeni-1',
							title: 'Стяжні ремені з гаками',
							pills: ['3 т', '5 т', '7,5 т', '10 т'],
							link: 'stiazhni-remeni-z-gakamy.html',
						})(class="mix stiazhni-remeni")
						+sCatalogItem({
							picName: 'stiazhni-remeni-2',
							title: 'Стяжні ремені Кільцеві',
							pills: ['3 т', '5 т', '7,5 т', '10 т'],
							link: 'stiazhni-remeni-kiltsevi.html',
						})(class="mix stiazhni-remeni")
						//-buksyruvalni-remeni => 7
						+sCatalogItem({
							picName: 'buksyruvalni-remeni-1',
							title: 'Буксирувальний ремінь Петля - Петля',
							pills: ['2,5 т', '5 т', '8 т', '14 т', '18 т', '25 т', '35 т'],
							link: 'buksyruvalni-remeni-petla-petla.html',
						})(class="mix buksyruvalni-remeni")
						+sCatalogItem({
							picName: 'buksyruvalni-remeni-2',
							title: 'Буксирувальний ремінь Петля - ГАК',
							pills: ['2,5 т', '5 т', '8 т', '14 т', '18 т', '25 т', '35 т'],
							link: 'buksyruvalni-remeni-petla-gak.html',
						})(class="mix buksyruvalni-remeni")
						+sCatalogItem({
							picName: 'buksyruvalni-remeni-3',
							title: 'Буксирувальний ремінь ГАК - ГАК',
							pills: ['2,5 т', '5 т', '8 т', '14 т', '18 т', '25 т', '35 т'],
							link: 'buksyruvalni-remeni-gak-gak.html',
						})(class="mix buksyruvalni-remeni")
						+sCatalogItem({
							picName: 'buksyruvalni-remeni-4',
							title: 'Буксирувальний ремінь петля-скоба',
							pills: ['2,5 т', '5 т', '8 т', '14 т', '18 т', '25 т', '35 т'],
							link: 'buksyruvalni-remeni-petla-skoba.html',
						})(class="mix buksyruvalni-remeni")
						+sCatalogItem({
							picName: 'buksyruvalni-remeni-5',
							title: 'Буксирувальний ремінь скоба-скоба',
							pills: ['2,5 т', '5 т', '8 т', '14 т', '18 т', '25 т', '35 т'],
							link: 'buksyruvalni-remeni-skoba-skoba.html',
						})(class="mix buksyruvalni-remeni")
						+sCatalogItem({
							picName: 'buksyruvalni-remeni-6',
							title: 'Буксирувальний ремінь скоба-ГАК',
							pills: ['2,5 т', '5 т', '8 т', '14 т', '18 т', '25 т', '35 т'],
							link: 'buksyruvalni-remeni-skoba-gak.html',
						})(class="mix buksyruvalni-remeni")
						//-buksyruvalni-trosy => 8
						+sCatalogItem({
							picName: 'buksyruvalni-trosy-1',
							title: 'Буксирувальний трос Петля - Петля',
							pills: ['4 т', '6 т', '10 т', '15 т', '25 т', '35 т'],
							link: 'buksyruvalni-trosy-petla-petla.html',
						})(class="mix buksyruvalni-trosy")
						+sCatalogItem({
							picName: 'buksyruvalni-trosy-2',
							title: 'Буксирувальний трос Петля - гак',
							pills: ['4 т', '6 т', '10 т', '15 т', '25 т', '35 т'],
							link: 'buksyruvalni-trosy-petla-gak.html',
						})(class="mix buksyruvalni-trosy")
						+sCatalogItem({
							picName: 'buksyruvalni-trosy-3',
							title: 'Буксирувальний трос гак - гак',
							pills: ['4 т', '6 т', '10 т', '15 т', '25 т', '35 т'],
							link: 'buksyruvalni-trosy-gak-gak.html',
						})(class="mix buksyruvalni-trosy")
						+sCatalogItem({
							picName: 'buksyruvalni-trosy-4',
							title: 'Буксирувальний трос Петля - скоба',
							pills: ['4 т', '6 т', '10 т', '15 т', '25 т', '35 т'],
							link: 'buksyruvalni-trosy-petla-skoba.html',
						})(class="mix buksyruvalni-trosy")
						+sCatalogItem({
							picName: 'buksyruvalni-trosy-5',
							title: 'Буксирувальний трос скоба - скоба',
							pills: ['4 т', '6 т', '10 т', '15 т', '25 т', '35 т'],
							link: 'buksyruvalni-trosy-skoba-skoba.html',
						})(class="mix buksyruvalni-trosy")
						+sCatalogItem({
							picName: 'buksyruvalni-trosy-6',
							title: 'Буксирувальний трос скоба - гак',
							pills: ['4 т', '6 т', '10 т', '15 т', '25 т', '35 т'],
							link: 'buksyruvalni-trosy-skoba-gak.html',
						})(class="mix buksyruvalni-trosy")
						//-tali-ruchni-lantsiuhovi => 9
						+sCatalogItem({
							picName: 'tali-ruchni-lantsiuhovi-1',
							title: 'Таль ручна ланцюгова шестернева',
							pills: ['0,5 т', '1 т', '2 т', '3 т', '5 т', '10 т'],
							link: 'tali-ruchni-lantsiuhovi-shesterneva.html',
						})(class="mix tali-ruchni-lantsiuhovi")
						//-
							+sCatalogItem({
								picName: '',
								title: '',
								pills: ['', '', '', '', '', '', '', '', '', '', ''],
								link: '',
							})
			+e.f-open-btn.f-toggle-js КАТЕГОРІЇ


mixin sCatalogFilterItem(data)
	+e.f-item
		label.custom-checkbox
			input.invisible(type="radio" name="catalog-radio" value=data.value)&attributes(attributes)
			.circle
			.txt=data.txt


mixin sOtherItem(data)
	+b.prod-slide.swiper-slide
		+prodItem(data)

mixin sCatalogItem(data)
	+e.item-col.col-6.col-sm-6.col-xl-4&attributes(attributes)
		+prodItem(data)

mixin prodItem(data)
	+b.prod-item(href=data.link)
		+pic(data.picName)
		+e.title=data.title
		+e.pills-row.row
			-for(let pill of data.pills)
				+sCatalogPill(pill)
		+e.btn Деталі

mixin sCatalogPill(txt)
	.col-auto.d-block
		+e.pill=txt