// start .header
.header {
	@include mt();
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $white;

	border-bottom: 1px solid $white;
	&.fixed{
		border-bottom: 1px solid $gray-200;
		box-shadow: 0 0 12px -5px rgba($black, 0.15);
	}

	&__{}
	&__{}
	&__{}
} // end.header