mixin mnu()
	nav
		ul.menu
			li.menu-item: a(href="./catalog.html") КАталог Товарів
			li.menu-item: a(href="./delivery.html") ДОСТАВКА
			li.menu-item: a(href="./index.html#sForm" onclick="JSCCommon.closeMenu()") контакти
//- menu